{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
  <div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 50px; text-align: center;">
    <h2 style="color: #333; font-size: 24px; margin-bottom: 20px;">Login</h2>
    <form method="POST" action="{% url 'login' %}" style="margin-bottom: 40px;">
      {% csrf_token %}
        {{ form.as_p }}
        <button class="submitBtn">
          Submit
          <svg fill="white" viewBox="0 0 448 512" height="1em" class="arrow"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg>
        </button>
      </form>    
      <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
  
    </div>
  </div>

  {% if messages %}
        <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
  {% endif %}
{% endblock %}



