{% extends 'website/base.html' %}
{%load static%}


{% block content %}
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 80px; text-align: center;">
      <h2 style="color: #333; font-size: 24px; margin-bottom: 20px;">Register</h2>
      <form method="POST" action="{% url 'register' %}" style="margin-bottom: 50px; ">
        {% csrf_token %}
        <div style="margin-bottom: 20px;">
          <label for="id_username" style="display: block; font-weight: bold;">Username:</label>
          {{ form.username }}
        </div>
        <div style="margin-bottom: 20px;">
          <label for="id_email" style="display: block; font-weight: bold;">Email:</label>
          {{ form.email }}
        </div>
        <div style="margin-bottom: 20px;">
          <label for="id_password1" style="display: block; font-weight: bold;">Password:</label>
          {{ form.password1 }}
        </div>
        <div style="margin-bottom: 20px;">
          <label for="id_password2" style="display: block; font-weight: bold;">Password confirmation:</label>
          {{ form.password2 }}
        </div>
        
        <button type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 12px; cursor: pointer;">Register</button>
      </form>
      <h3>Already have an account? <a href="{% url 'login' %}">Login</a></h3>

    </div>
  </div>

  
  
{% endblock %}
