{% extends 'website/base.html' %}

{% block content %}



<form action="{% url 'search_videos' %}" method="GET">

    <h1>Integrated Youtube Search video for Our Hotel</h1>
    <div style=" align-items: center; object-fit: contain;">
        <input type="text" name="query" style="padding: 8px; border: 1px solid #ccc; border-radius: 4px; margin-right: 8px;" placeholder="Enter search query">
        <button type="submit" style="padding: 8px 16px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer; hover: grey; ">Search</button>
    </div>
    
</form>

{% if query %}
    <h2>Search results for "{{ query }}"</h2>
    {% if video_results %}
        <form action="{% url 'search_videos' %}" method="POST">
            {% csrf_token %}
            {% for video_result in video_results %}
                {% comment %} <input type="radio" name="search_videos" value="{{ video_result.video_id }}"> {% endcomment %}
                <h3>{{ video_result.title }}</h3>
                {% comment %} <p>{{ video_result.description }}</p> {% endcomment %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_result.video_id }}" frameborder="0" allowfullscreen></iframe>
            {% endfor %}
        </form>
    {% else %}
        <p>No videos found.</p>
    {% endif %}
{% endif %}

{% endblock %}
